@font-face {
	font-family: poppins-semibold;
	src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: poppins;
	src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
.custombtn {
	width: 100%;
	height: 50px;
	border-radius: 5px !important;
	margin-bottom: 20px;
	font-size: 16px;
}
.form-control {
	font-family: poppins;
	height: 50px;
	border-radius: 5px !important;
	font-size: 16px;
}
.input-icon>.form-control {
	padding-left: 10px;
}
.customlogin, .customlogin:hover {
    background-color: #11527c !important;
    border-color: #11527c !important;
    color: white;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.login {
    background-image: url(../img/bg.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
} 
.register-content {
	padding: 0px;
	margin: auto;
	background: #eeeff1;
	float: none;
	overflow: hidden;
}
.bus-reg {
	margin-top: 60px;
}
.bus-labours {
    height: 140px;
    border-left: 4px solid white;
}
.bus-rec{
    color: white;
    font-size: 72px;
}
.bus-rec span{
	font-family: poppins-semibold;
	position: absolute;
	top: -20px;
}
.bus-lb {
	color: white;
	font-size: 36px;
}
.bus-lb span {
	font-family: poppins;
	position: absolute;
	top: 55px;
}
.bus-lr{
	color: white;
	font-size: 28px;
}
.bus-lr span{
	font-family: poppins;
	position: absolute;
	top: 115px;
}
.bus-cont{
	font-family: poppins;
	padding-left: 0px;
    color: white;
    font-size: 15px;
    text-align: justify;
}
.login .logo {
	padding-left: 70px;
	text-align: inherit;
}
.error {
	color:red;
	margin-bottom: 0px;
}
.register-title{
	background-color: #11527c;
    display: block;
    padding: 30px 0px;
	margin: auto;
}
.form-group {
	font-family: poppins;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.buss-register .register-content:before {
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	display: block;
	content: '';
	position: absolute;
	left: calc(50% - 15px);
	border-top: 15px solid #11527c;
}
.active{
	font-family: poppins;
	text-align: center;
	font-size: 24px;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 768px) {
	.bus-rec span {
	    top: -10px;
	}
	.bus-rec {
	    font-size: 34px;
	}
	.bus-lb {
	    font-size: 34px;
	}
	.bus-lr span {
	    top: 125px;
	}
	.bus-lr {
	    font-size: 18px;
	}
}
@media (min-width: 768px) {
	.register-content {
	    width: 72%;
	}
	.register-title {
	    width: 72%; 
	}
}
.register-design {
	background-color: #152e3b;
	margin-top: auto;
	text-align: -webkit-center;
}