.custombtn{
    width: 83px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.customupdate, .customcreate, .customconfirm{
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.customsearch{
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.customgrey{
    background-color: #dedede;
    border-color: #dedede;
    color: #000000;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align: middle;}