/* here you can put your own css to customize and override the theme */
@font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: opensans-light;
    src: url(../fontsOpenSans//OpenSans-Light.ttf);
}
@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
.custombtncolor{
    color: #FFF;
    background-color: #11527c !important;
    border-color: #11527c !important;
}
.portlet >.dashoboardtitle{
    border-bottom: 0px solid #eee;
}
.dashoboardcaption{
    text-align:center;
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
}
.dashboard-stat .details .dashboardtext{
    padding-top: 38px;
    text-align: center;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}
.dashboard-stat .shop{
   position: absolute;
   right: 40px;
   padding-right: 15px;
}
.dashboard-stat .workorder{
   position: absolute;
   right: 32px;
   padding-right: 15px;
}
.dashboard-stat .reprint{
   position: absolute;
   right: 60px;
   padding-right: 15px;
}
.dashboard-stat .createorder{
   position: absolute;
   right: 9px;
   padding-right: 15px;
}
.inputpaddingbottom{
    padding-bottom: 15px;
}
.plusicon,.childplusicon{
    cursor: pointer;
}
.lasttd{
    cursor: default;
}
.logo-default:hover{
    text-decoration: none;
}
.dasboard-order-img{
    width: 61px;
    height: 61px;
}
.label-purple {
    background-color: #8E44AD;
}
.label-delivery {
    background-color: #FF5722;
}
.alertsuccess{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px !important;
    font-weight: bolder;
}
#popupStatus{
    cursor:pointer;
}
.popupdropdown{
    margin-top: 15px;
    margin-bottom: 35px;
}
.viewodercate{
    margin-bottom: 15px;
    padding-left: 0;
}
.reportsgeneratebtn{
   margin-top:15px;
   margin-bottom:10px;
   padding-right: 0px;
   padding-left: 0px;
}
.generateinvoice{
    margin-top: 5px;
    margin-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
}
.invoicecustombtn{
    width: 132px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.page-footer-inner a{
    color: #ffffff !important;
}
.actionvieworder{
    font-size:12.5px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.search-orderlist-btns{
    margin-top: 22px;
}
.customlistminheight {
    /*min-height:470px;*/
    height: 100%;
    min-height: 35em;
}
#tbl_reports_list tr:nth-child(1) th{
    text-align: left;
} 
#tbl_reports_list tr td{
    text-align: center;
}
#tbl_reports_list tr td:nth-child(8){
    width: 85px;
} 
#tbl_contact_list tbody td {
    text-align: center;
}
#tbl_contact_list{
    margin-bottom: 0;
}
#tbl_order_item thead th,#tbl_order_item tbody td {
    text-align: center;
    vertical-align: middle;
}
#tbl_package_item thead th,#tbl_package_item tbody td {
    text-align: center;
    vertical-align: middle;
}
.viewordermiddle{
    vertical-align: middle;
}
.reportcontactsearch{
   /* margin-top: 10px;*/
    margin-top: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.vendor-category-items-search{
    margin-top: 5px;
}
.loadingreportsection {
    display: none;
    text-align: center;
    min-height: 50px;
    background-color: #ffffff;
    padding-top: 50px;
}
.loadinginnersection {
    display: none;
    text-align: center;
    min-height: 50px;
    background-color: #ffffff;
    padding-top: 50px;
}
.error {
    color: red !important;
}

#food-orders-list th,td{
        text-align: center;
}
/*.dash_widget:focus, .dash_widget:hover{color: transparent !important;text-decoration: none !important;cursor: pointer !important;}
.table-scrollable .dataTable td>.btnactionorder{
  position: relative;
}*/
.widget-row h4 {
    text-align: center !important;
}

.dataTables_extended_wrapper .table.dataTable {
    margin: 0px 0!important;
}
#tbl_contact_list tr td {
    text-align: center;
}
#tbl_contact_list .contact-action{
    width: 140px !important;
}
#tbl_contact_list .contact-address{
    width: 200px !important;
}
#tbl_contact_list tr:nth-child(1) th:nth-child(5), #tbl_contact_list tr:nth-child(1) th:nth-child(6), #tbl_contact_list tr:nth-child(1) th:nth-child(7){
    text-align: center;
} 
#tbl_contact_list td:nth-child(3), #tbl_contact_list td:nth-child(4) {
    text-align: left;
}
#tbl_contact_list .view-order-history{
    margin-top: -3px;
}

#tbl_reports_list tr th, #tbl_reports_list tr td{
    vertical-align: middle !important;
}
#tbl_reports_list .view-order-items{
    margin-top: -3px;
}
.pack_image{
    width: 24%;
    text-align: right !important;
    float: right;
}
.pack_image2{
    width: 24%;
    text-align: right !important;
    float: right;
    visibility: hidden;
}
.pdf_icon{
    float: right;
}

#tbl_order_invoice_list tr th, #tbl_order_invoice_list tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_detail_order_item tr th, #tbl_detail_order_item tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_detail_order_item .orderitemamount{
    text-align: right !important;
    padding-right: 30px;
}
#tbl_detail_order_item{
    margin-bottom: 0;
}
.custom_height {
    min-height: 510px !important;
}
.invoice_status_btn,.invoice_status_btn:hover,.invoice_status_btn:focus{background: none !important;border: none !important;padding: 0 !important}
#paymentStatusNotificationMsg{
    margin: auto;
    float: none;
    display: none;   
}
#paymentStatusNotificationMsg .customsuccessalert{
    margin-top: 18px !important;
    margin-bottom: 0px !important;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
#payment_status_err {
    display: none;
}
.dataTables_extended_wrapper #tbl_invoice_list.table.dataTable{
        margin: 0px !important;
}
#tbl_invoice_list tr th, #tbl_invoice_list tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_invoice_list_wrapper .invoice-scrollable{
    margin: 0px !important;
} 
#previewchk, #confirmBtn {
    color: #FFFFFF;
}
#emailNotificationMsg{
    margin: auto;
    float: none;
    display: none;   
    margin-bottom: -17px;     
}
#emailNotificationMsg .customsuccessalert{
    margin-top: 18px !important;
    margin-bottom: 0px !important;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border: 1px solid transparent;
    border-radius: 4px !important;
}

#pro-task-list thead th, #pro-task-list thead td {
    padding: 8px 10px;
}
.dataTables_extended_wrapper .table.dataTable {
    margin: 0px 0!important;
}
#pro-task-list  td:nth-child(4) {
      text-align: left;
}
#pro-task-list  tr:nth-child(1) th{
    text-align: left;
}
#pro-task-list  tr td{
    text-align: center;
}
.btn-group {
    display: block !important;
}    
.custom_height {
    min-height: 510px !important;
}
.alertmsg{
    padding-left:0px;
    padding-right:0px;
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border-radius: 4px !important;
    font-weight: bolder;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert {
    border-radius: 4px !important;
}
.vendor-address{
    width: 280px;
}
.vendor-actions{
    width: 65px;
}
#pro-task-list tr:nth-child(1) th:nth-child(4){
 text-align: left;
}
#pro-task-list tr:nth-child(1) th:nth-child(5), #pro-task-list tr:nth-child(1) th:nth-child(6), #pro-task-list tr:nth-child(1) th:nth-child(7), #pro-task-list tr:nth-child(1) th:nth-child(8){
    text-align: center;
} 
.itemRow {
   display: none;
}
#vendor-catgory-item-list tr th{
   text-align: center;
}
#vendor-catgory-item-list tr td{
   text-align: center;
}
#vendor-catgory-item-list tr:nth-child(1) th:nth-child(5) {
 text-align: center;
}
.verticalmiddle{
vertical-align: middle !important;
}
#vendor-catgory-item-list tr td,
#vendor-catgory-item-list tr th {
  background-color: #FFFFFF;
}
.txt_center {
  text-align: center;
}

/*.page-container-bg-solid .page-content {
    background: #fefeff !important;
}*/
#vendor-package-content {
    min-height: 510px !important;
}
#food-packages-list tr th{
   text-align: center;
}
#food-packages-list tr td{
   text-align: center;
}
#food-packages-list tr:nth-child(1) th:nth-child(7) {
 text-align: center;
}
#food-packages-list tr td,
#food-packages-list tr th {
  background-color: #FFFFFF;
}
#tbl_invoice_list tr td:nth-child(4), #tbl_invoice_list tr th:nth-child(4), #tbl_invoice_list .customalign{
    text-align: right;
    padding-right: 35px;
    width: 125px;
}
#tbl_invoice_list{
    margin-bottom: 0;
}
#tbl_contact_list tr td, #vendor-order-list-page-content table tr td {
    vertical-align: middle;
    text-align: center;
}
#vendor-order-list-page-content table tr th {
    vertical-align: middle;
    text-align: center;
}
.page-content#vendor-list-page-content{
    padding-top: 5px;
}
#pro-task-list tr td {
    vertical-align: middle;
}
#vendor-list-page-content .Pagetext1{
    font-family: opensans-regular;
}
#pro-task-list .vendor-list-action{
    margin-top: -8px;
}
#pro-task-list ul.dropdown-menu{
    left: -103px;
}
.dropdown-menu-new>li>a{
    font-family: opensans-regular;
}
#vendor-list-page-content .vendor-list-portlet-title, #vendor-order-list-page-content .vendor-order-list-portlet-title, #vendor-category-item-content .vendor-category-item-portlet-title, #vendor-package-content .vendor-package-portlet-title, #contact-list-page-content .contact-list-portlet-title, #reports-page-content .reports-portlet-title{
    margin-bottom: 0px;
    border-bottom: 0px;
    min-height: 34px;
}
#vendor-list-page-content .vendor-list-portlet-body, #vendor-order-list-page-content .vendor-order-list-portlet-body, #vendor-category-item-content .vendor-category-item-portlet-body, #vendor-package-content .vendor-package-caption{
    padding-top: 0px;
    margin-bottom: 5px;
}
#vendor-order-list-page-content .vendor-order-list-caption, #vendor-category-item-content .vendor-order-cat-item-caption, #vendor-package-content .vendor-package-portlet-body{
    padding-bottom: 0;
}
.hiddenRow {
    display: none;
}
#vendor-catgry-item-list {
    margin-top: 10px;
}
.vendor-category-portlet-body{
    margin-top: 10px;
}
.vendor-package-portlet-body{
    padding-top: 0;
}
#contact-list-page-content .contact-list-portlet-title .caption-new{
    padding-bottom: 0;
}
#vendor-list-page-content .dropdown-menu-new>li>a{
    padding: 8px 8px;
}
#food-orders-list.dataTable td.sorting_1, #food-orders-list.dataTable td.sorting_2, #food-orders-list.dataTable td.sorting_3, #food-orders-list.dataTable th.sorting_1, #food-orders-list.dataTable th.sorting_2, #food-orders-list.dataTable th.sorting_3{
    background-color: transparent !important;
}
.dataTables_extended_wrapper #food-orders-list.table.dataTable{
    margin: 0px 0!important;
}
#confirmEmail{
    color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
    #food-packages-list{
        margin-top: 0px;
    }
    .add-contact {
        width: 110px !important;
        margin-top: 4px;
        padding: 5px 10px;
    }
    .portlet.light>.portlet-title>.caption>.caption-subject {
        font-size: 14px;
    }
    #tbl_coach_list .btn-group, #tbl_contact_list .btn-group, #pro-task-list .btn-group, #tbl_coach_list .btn-group, #pro-filter-coach .btn-group {
        position: relative !important;
        display: block;
        vertical-align: middle;
    }
    #tbl_coach_list .dropdown-menu, #tbl_contact_list .dropdown-menu, #pro-task-list .dropdown-menu, #tbl_coach_list .dropdown-menu, #pro-filter-coach .dropdown-menu {
        position: relative !important;
    }

}
@media (min-width: 320px) and (max-width: 444px) {
    .import-contact {
        margin-top: 6px;
    }

}

@media screen and (min-width: 769px) {
    #food-packages-list{
      margin-top: 20px;
    }
    .remove-left-right-padding{
        padding-left: 0;
        padding-right: 0;
    }
    .search-body{
        margin-bottom: 15px;
    }
}
@media (min-width: 400px) and (max-width: 1199px){
   #reportsearch .search-orderlist-btns{
        text-align: center;
    }
    #contactListresponsive .search-orderlist-btns {
       text-align: center;
    }
}

@media (min-width:0px) and (max-width: 400px){
    #reportsearch .custombtn {
        width: 70px;
        padding: 6px 0px;
    }
    #reportsearch .search-orderlist-btns{
        text-align: center;
    }
     #contactListresponsive .search-orderlist-btns {
       text-align: center;
    }
    #reportsearch .remove-left-right-padding{
        padding-left: 0;
        padding-right: 0;
    }
    .modal-dialog select {
        width: 150px !important;
    }
    #vndrpckfltr {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 1203px) {
    #reportsearch .custombtn {
        width: 76px;
        padding: 6px 2px;
    }

}
@media (min-width: 0px) and (max-width: 1170px){    
    .table-scrollable  #pro-task-list td>.btn-group {
        position: relative !important;    
    }
    #pro-task-list .dropdown-menu {
        position: relative !important;
    }
}
@media (min-width: 0px) and (max-width: 1199px){
    .search-orderlist-btns {
        text-align: center;
    }
}
@media (min-width: 0px) and (max-width: 369px){
    #bckbtn {
        margin-top: 10px;
    }
}

/*PRO APP*/
.dollar {
    position: absolute;
    margin-left: -80px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
    color: #fa7b29;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    color: #fa7b29 !important;
}
.widget-thumb-heading {
    color: #565656 !important;
}
.widget-bg-color-white {
    background: #e9e9e9;
    border: 1px solid #3c3760;
    border-radius: 5px !important;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a {
    background: #ffffff;
}
.page-header.navbar .page-logo {
    background: #11527c;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.dashboard-image {
    background-image: url("../img/labours-25x35-1.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.dashboard-image {
    background-image: url("../img/labours-25x35-2.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a.home-image {
    background-image: url("../img/home_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.home-image {
    background-image: url("../img/home_deactive.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.neworder-image {
    background-image: url("../img/new-order_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.neworder-image {
    background-image: url("../img/new-order_deactive.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a.shop-image {
    background-image: url("../img/shop_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.shop-image {
    background-image: url("../img/shop_deactive.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.search-image {
    background-image: url("../img/work-order_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.search-image {
    background-image: url("../img/work-order_deactive.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.print-image {
    background-image: url("../img/print_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.print-image {
    background-image: url("../img/print_deactive.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.contact-image {
    background-image: url("../img/setting-25x35-1.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a.client-image {
    background-image: url("../img/setting-25x35-2.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.client-image {
    background-image: url("../img/client.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.contact-image {
    background-image: url("../img/setting-25x35-2.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a.task-image {
    background-image: url("../img/task_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.task-image {
    background-image: url("../img/task.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a.pipeline-image {
    background-image: url("../img/dollar_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.pipeline-image {
    background-image: url("../img/dollar.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.page-sidebar .page-sidebar-menu>li.active.open>a.more-image {
    background-image: url("../img/more_active.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.open>a.more-image {
    background-image: url("../img/more.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}
.page-sidebar .page-sidebar-menu>li.active.open>a>i, .page-sidebar .page-sidebar-menu>li.active>a>span {
    color: #11527c;
    font-weight: 600;
}
.page-container-bg-solid .page-sidebar .page-sidebar-menu>li.active>a>.selected {
    border-color: transparent #11527c transparent transparent;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username {
    color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu>li>a {
    color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block!important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #11527c;
    border-left: 6px solid transparent;
    content: '';
}

.page-header.navbar .page-top {
    background: #11527c;
}
.page-footer,.page-content-wrapper,.page-sidebar {
    background-color: #11527c;
}
.portlet.light>.portlet-title>.caption>i, .icon-title-name {
    color: #11527c;
    font-size: 24px;
}
.icon-img{
    margin-top: -5px;
}
.btn.yellow:not(.btn-outline):active:hover {
    background-color: #11527c;
    border-color: #11527c;
}
.btn.yellow:not(.btn-outline) {
    background-color: #11527c;
    border-color: #11527c;
}
.btn.yellow:not(.btn-outline):focus {
    background-color: #11527c;
    border-color: #11527c;
}
.contact-add-padding {
    padding-top: 20px;
}
.contact-save {
    text-align: right;
}
.task-edit-comment {
    padding: 1px 4px;
    font-size: 18px;
}
.task-add-comment {
    width: 99px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
    background-color: #fa7b29 !important;
    border-color: #fa7b29 !important;
    line-height: 2;
}
.btn-info {
    background-color: #11527c;
    border-color: #11527c;
}
.btn-info:hover {
    background-color: #11527c;
    border-color: #11527c;
}
.task-star {
    color: red;
    position: absolute;
    top: 18px;
    left: 51px;
}
.task-title {
    padding-top: 15px;
}
.task-date {
    padding-top: 10px;
}
.task-status {
    color: red;
    position: absolute;
    top: 4px;
    left: 65px;
}
.task-activated {
    color: red;
    position: absolute;
    top: 13px;
    left: 112px;
}
.task-comment-status {
    width: 110px !important;
}
.add-task {
    width: 102px;
}
.add-contact {
    width: 120px;
}
.add-company {
    width: 130px;
}
@media (max-width: 767px){
	.page-header.navbar {
    	background: #3c3760;
	}
}
.table-scrollable .dataTable td>.btn-group {
    margin-top: -12px;
    margin-left: -17px;
}
.btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after {
    border-bottom: 7px solid #878bcc;
}
.contact-more-note {
    width: 93px;
    padding: 1px 4px;
    text-align: left;
}
.dropdown-menu{
    min-width: 72px;
    box-shadow: 0px 0px rgba(102,102,102,.1);
}
/*.dropdown-menu-right, .dropdown-menu.pull-right {
    left: -43px;
}*/
.import-contact {
    width: 140px;
}
.importcontact {
    background-color: #11527c !important;
    border-color: #11527c !important;
}
.importbtn {
    width: 179px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.company-list-btn {
    width: 142px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.task-due-date {
    color: red;
    position: absolute;
    top: 13px;
    left: 85px;
}
.task-prospect {
    color: red;
    position: absolute;
    top: 13px;
    left: 83px;
}
.task-probability{
    color: red;
    position: absolute;
    top: 13px;
    left: 190px;
}
.task-total-pipeline {
    color: red;
    position: absolute;
    top: 13px;
    left: 127px;
}
.task-total-potential {
    color: red;
    position: absolute;
    top: 13px;
    left: 135px;
}
.task-opportunity {
    color: red;
    position: absolute;
    top: 13px;
    left: 108px;
}
#profiletabbable-line>.nav-tabs>li.active {
   border-bottom: 4px solid #fa7b29;
}
#profiletabbable-line>.nav-tabs>li:hover{
   border-bottom: 4px solid #f9cfb4;
}
#profiletabbable-line .caption .profile-head{
    color:#fa7b29 !important;
}
.profile-usertitle-name{
    color:#fa7b29 !important;
}
.profile-usertitle-job{
    color:#3c3760 !important;
}
.page-sidebar .page-sidebar-menu>li {
    text-transform: uppercase;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #11527c;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    font-size: 16px;
    color: white;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #11527c;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu {
    margin-top: 6px;
    background-color: #11527c;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after {
    right: 15px;
}
a.viewcolor,.viewcolor:hover {
    color:#fa7b29 !important;
    text-decoration: none;
    font-weight:bold;
    font-size: 16px !important;
}
#pagebar{
    margin-bottom: 0px;
}

.color-tooltip + .tooltip > .tooltip-inner {
    background-color: #FFFFFF; 
    color: #000000; 
    border: 1px solid #FFA726;
    box-shadow: 1px 1px 1px 1px #FFA726;
    font-size: 12px;
    border-radius: 5px !important;
}
.color-tooltip + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid #11527c;
}

.table-view-back-color-design {
    background-color: #11527c;
    color: #ffffff;
}
.table-view-back-color-design th {
    border: 1px solid #11527c !important;
    text-transform: uppercase;
    text-align: center;
}
.table-view-border-design {
    border: 1px solid #5c1893;
    text-transform: uppercase;
    text-align: center;
}

#tbl_contact_list table.dataTable tbody th, table.dataTable tbody td {
   padding: 3px !important;
}
.dash-values {
    font-size: 30px;
    font-weight: 600;
    color: #fa7b29;
}

#tbl_coach_list tbody>tr>td, #tbl_pipe_list tbody>tr>td, #tbl_view_task tbody>tr>td {
    vertical-align: middle;
}

.btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before {
    position: fixed;
}

.btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
    position: fixed;
}
.navbar-right {
    float: left !important;
    margin-right: -27px;
}
.navbar-nav>li>a {
    line-height: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f87a29;
    color: white;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #f87a29;
    border-color: #f87a29;
}
.nav>li>a {
    padding: 15px 10px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fbfcfd;
    background-color: #11527c;
}
/*.dropdown-menu>li>a {
    text-align: center;
}*/

#tbl_coach_list .btn-group, #tbl_contact_list .btn-group, #pro-task-list .btn-group, #tbl_coach_list .btn-group, #pro-filter-coach .btn-group {
    position: absolute;
    display: block;
    vertical-align: middle;
}

.btn.default:not(.btn-outline).active, .btn.default:not(.btn-outline):active, .btn.default:not(.btn-outline):hover, .open>.btn.default:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #f87a29;
    border-color: #f87a29;
}
.contact-dropdown {
    margin-top: -10px;
    margin-left: 33px;
}

.pro-task-dropdown {
    margin-top: -10px;
    margin-left: 13px;
}
.pro-pipeline-dropdown {
    margin-left: 54px;
}
.pro-client-dropdown {
    margin-top: -11px;
    margin-left: 7px;
}
.pro-coach-dropdown {
    margin-top: -10px;
    margin-left: 22px;
}
.pro-filter-coach-dropdown {
    margin-top: -10px;
    margin-left: 20px;
}
.add-new-task {
    margin-top: 20px;
}

#contact-list-page-content input[type=checkbox], input[type=radio] {
    margin: 7px 0 0;
}
.add-existing-task {
    font-size: 18px;
    font-weight: 600;
}